include snscli.py snsgui.py 
include README.rst VERSION.md CONTRIBUTOR requirements.txt
exclude README.md
recursive-include snsapi *.py *.md
recursive-include conf *.example *.ini
include snsapi/data/init-channel.json.example
include snsapi/data/snsgui.ini
