[
  {
    "platform": "SinaWeiboStatus", 
    "methods": "home_timeline,update,forward",
    "user_id": "可以不填", 
    "user_name": "可以不填",
    "channel_name": "sina_account_1", 
    "auth_info": {
      "save_token_file": "(default)", 
      "callback_url": "http://snsapi.sinaapp.com/bouncer/redir/localhost/11111/", 
      "cmd_fetch_code": "(console_input)", 
      "cmd_request_url": "(console_output)"
    }, 
    "app_key": "填写你在开放平台上的app_key", 
    "app_secret": "填写你在开放平台上的app_secret", 
    "open": "yes", 
    "home_timeline":{
      "count": 100
    }
  } 
]
