{
  "channel_name": "", 
  "open": "yes", 
  "platform": "", 
  "app_key": "", 
  "app_secret": "",
  "user_id": "",
  "auth_info":
  {
    "callback_url": "http://snsapi.sinaapp.com/auth.php",
    "cmd_fetch_code": "(default)",
    "cmd_request_url": "(default)",
    "save_token_file": "(default)"
  }
}
