[
  {
    "channel_name": "sina_account_1", 
    "open": "yes", 
    "platform": "sina", 
    "app_key": "", 
    "app_secret": "",
    "user_id": ""
  },
  {
    "channel_name": "test_feed_1", 
    "open": "yes",
    "platform": "rss", 
    "url": "../test/sample-rss/feed1.xml" 
  },
  {
    "channel_name": "test_feed_2", 
    "open": "yes",
    "platform": "rss", 
    "url": "../test/sample-rss/feed2.xml" 
  }
]
